<% title t(:products) %>

<div class="page_actions">
    <%= link_to "#{t(:new_product)} <i class=\"icon-plus22 position-right\"></i>".html_safe, naturesoft_products.new_admin_product_path, class: 'btn btn-primary' %>
</div>
<br />

<form class="listing-form">
    
    <div class="panel panel-flat">
        <div class="panel-body filter-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label><%= t(:sort_by) %></label>
                        <%= select_tag(:sort_by, options_for_select(Naturesoft::Products::Product.sort_by, :selected => params[:sort_by]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label><%= t(:sort_orders) %></label>
                        <%= select_tag(:sort_orders, options_for_select(Naturesoft::Products::Product.sort_orders, :selected => params[:sort_orders]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label><%= t(:search) %></label>
                        <input type="text" name="keyword" class="form-control" placeholder="<%= t(:enter_search) %>" value="<%= params[:keyword] %>">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th><%= t(:image) %></th>
                        <th><%= t(:name) %></th>
                        <th><%= t(:price) %></th>
                        <th><%= t(:created_at) %></th>
                        <th class="text-center"><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each do |item| %>
                        <tr<% if item.status == "active" %> class="success"<% else %> class="warning"<% end %>>
                            <td></td>
                            <td class="kq_search">
                              <%= item.name %><br>
                              <%= display_status(item.status) %>
                            </td>
                            <td><%= format_number(item.new_price) %></td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td class="text-center">
                              <div class="btn-group">
                                <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_products.edit_admin_product_path(item), class: "btn bg-teal btn-icon btn-xs", title: item.name %>
                                <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <% if item.status == "active" %>
                                    <li>
                                        <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_products.disable_admin_products_path(id: item.id), method: :put %>
                                    </li>
                                    <% end %>
                                    <% if item.status == "inactive" %>
                                    <li>
                                        <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_products.enable_admin_products_path(id: item.id), method: :put %>
                                    </li>
                                    <% end %>
                                    <li>
                                        <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_products.admin_product_path(item), method: :delete, data: {confirm: 'Are you sure?'} %>
                                    </li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @products %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @products, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /basic datatable -->