<div class="row">
  <div class="col-md-4">
    <div class="form-group">
        <label class="control-label" ><%= t(:category) %> <span class='text-danger'>*</span></label>
        <div class="">
            <% category = Naturesoft::Products::Category.where(id: options["category_id"]).first %>
            <% selected = options_for_select([[category.name,category.id]],category.id) if !category.nil? %>
            <%= select_tag("options[category_id]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                "data-url": naturesoft_products.select2_backend_categories_path,
              }
            ) %>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        <label class="control-label" ><%= t(:number_of_products) %> <span class='text-danger'>*</span></label>
        <div class="">
            <%= text_field_tag "options[number_of_products]", options["number_of_products"], class: "form-control number_input required" %>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <div class="">
            <input type="text" value="default" name="options[style]" class="form-control" >
        </div>
    </div>
  </div>  
</div>