<tr class="<%= "child_row" if !top %>">
  <td width="1%">
      <input type="checkbox" class="node styled"
          name="ids[]"
          value="<%= item.id %>"
      />
  </td>
  <td class="kq_search child-padding-<%= item.level %>">
      <%= link_to item.full_name, naturesoft_products.edit_admin_category_path(item), class: "text-semibold" %>                              
  </td>
  <td class="kq_search"><%= truncate(strip_tags(item.description), length: 150) %></td>                                                        
  <td class="text-center">
      <%= user_box(item.user) %>
  </td>
  <td><%= display_date(item.created_at) %></td>
  <td><%= display_status(item.status) %></td>
  <td class="text-right">
      <div class="btn-group">
          <ul class="icons-list">
              <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_products.edit_admin_category_path(item), class: "btn bg-teal btn-icon btn-xs", title: item.name %>
              <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                  <% if item.status == "active" %>
                  <li>
                      <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_products.disable_admin_categories_path(id: item.id), method: :put %>
                  </li>
                  <% end %>
                  <% if item.status == "inactive" %>
                  <li>
                      <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_products.enable_admin_categories_path(id: item.id), method: :put %>
                  </li>
                  <% end %>
                  <li>
                      <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_products.admin_category_path(item), method: :delete, data: {confirm: 'Are you sure?'} %>
                  </li>
              </ul>
          </ul>
      </div>
  </td>
</tr>