<% title t(:product_categories) %>

<div class="page_actions">
    <%= link_to "#{t(:new_category)} <i class=\"icon-plus22 position-right\"></i>".html_safe, naturesoft_products.new_admin_category_path, class: 'btn btn-primary' %>
</div>
<br />

<form class="listing-form">
    
    <div class="panel panel-flat">
        <div class="panel-body filter-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label><%= t(:sort_by) %></label>
                        <%= select_tag(:sort_by, options_for_select(Naturesoft::Products::Category.sort_by, :selected => params[:sort_by]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label><%= t(:sort_order) %></label>
                        <%= select_tag(:sort_orders, options_for_select(Naturesoft::Products::Category.sort_orders, :selected => params[:sort_orders]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group has-feedback">
                        <label><%= t(:search) %></label>
                        <input type="text" name="keyword" class="form-control" placeholder="Enter search(name, description)..." value="<%= params[:keyword] %>">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <!-- Basic datatable -->
    <div class="panel panel-flat">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th><%= t(:title) %></th>
                        <th><%= t(:description) %></th>
                        <th><%= t(:created_at) %></th>
                        <th class="text-center"><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |item| %>
                    <% if item.parent.count == 0 %>
                        <% item.update_level(1) %>
                        <tr<% if item.status == "active" %> class="success"<% else %> class="warning"<% end %>>
                            <td class="kq_search">
                              <strong><%= link_to item.name, naturesoft_products.edit_admin_category_path(item) %></strong><br>
                              <%= display_status(item.status) %>
                            </td>
                            <td class="kq_search"><%= truncate(strip_tags(item.description), length: 150) %></td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <ul class="icons-list">
                                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_products.edit_admin_category_path(item), class: "btn bg-teal btn-icon btn-xs", title: item.name %>
                                        <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <% if item.status == "active" %>
                                            <li>
                                                <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_products.disable_admin_categories_path(id: item.id), method: :put %>
                                            </li>
                                            <% end %>
                                            <% if item.status == "inactive" %>
                                            <li>
                                                <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_products.enable_admin_categories_path(id: item.id), method: :put %>
                                            </li>
                                            <% end %>
                                            <li>
                                                <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_products.admin_category_path(item), method: :delete, data: {confirm: 'Are you sure?'} %>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% item.children.each do |child_1| %>
                            <% child_1.update_level(2) %>
                            <tr<% if child_1.status == "active" %> class="success"<% else %> class="warning"<% end %>>
                                <td class="kq_search">
                                  <strong>--- <%= link_to child_1.name, naturesoft_products.edit_admin_category_path(child_1) %></strong><br>
                                  <%= display_status(child_1.status) %>
                                </td>
                                <td class="kq_search"><%= truncate(strip_tags(child_1.description), length: 150) %></td>
                                <td><%= child_1.created_at.strftime("%d/%m/%Y") %></td>
                                <td class="text-center">
                                  <div class="btn-group">
                                    <ul class="icons-list">
                                      <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_products.edit_admin_category_path(child_1), class: "btn bg-teal btn-icon btn-xs", title: item.name %>
                                      <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
                                      <ul class="dropdown-menu dropdown-menu-right">
                                        <% if child_1.status == "active" %>
                                        <li>
                                          <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_products.disable_admin_categories_path(id: child_1.id), method: :put %>
                                        </li>
                                        <% end %>
                                        <% if child_1.status == "inactive" %>
                                        <li>
                                          <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_products.enable_admin_categories_path(id: child_1.id), method: :put %>
                                        </li>
                                        <% end %>
                                        <li>
                                          <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_products.admin_category_path(child_1), method: :delete, data: {confirm: 'Are you sure?'} %>
                                        </li>
                                      </ul>
                                    </ul>
                                  </div>
                                </td>
                            </tr>
                            <% child_1.children.each do |child_2| %>
                              <% child_2.update_level(3) %>
                                <tr<% if child_2.status == "active" %> class="success"<% else %> class="warning"<% end %>>
                                  <td class="kq_search">
                                    <strong>--------- <%= link_to child_2.name, naturesoft_products.edit_admin_category_path(child_2) %></strong><br>
                                    <%= display_status(child_2.status) %>
                                  </td>
                                  <td class="kq_search"><%= truncate(strip_tags(child_2.description), length: 150) %></td>
                                  <td><%= child_2.created_at.strftime("%d/%m/%Y") %></td>
                                  <td class="text-center">
                                    <div class="btn-group">
                                      <ul class="icons-list">
                                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_products.edit_admin_category_path(child_2), class: "btn bg-teal btn-icon btn-xs", title: item.name %>
                                        <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                          <% if child_2.status == "active" %>
                                          <li>
                                            <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_products.disable_admin_categories_path(id: child_2.id), method: :put %>
                                          </li>
                                          <% end %>
                                          <% if child_2.status == "inactive" %>
                                          <li>
                                            <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_products.enable_admin_categories_path(id: child_2.id), method: :put %>
                                          </li>
                                          <% end %>
                                          <li>
                                            <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_products.admin_category_path(child_2), method: :delete, data: {confirm: 'Are you sure?'} %>
                                          </li>
                                        </ul>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-footer showed">
                    <div class="dataTables_info" ><%= page_entries_info @categories %></div>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <%= will_paginate @categories, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /basic datatable -->