<% category = Naturesoft::Products::Category.where(id: params["id"]).first %>
<% manu = Naturesoft::Products::Manufacturer.where(id: params["manufacturer_id"]).first %>
<div class="form-group">
    <label class="col-md-2 control-label" ><%= t(:category_id) %> <span class='text-danger'>*</span></label>
    <div class="col-md-10">
        <% selected = options_for_select([[category.name,category.id]],category.id) if !category.nil? %>
        <%= select_tag("params[id]",
          selected,
          {
            class: "select2-ajax",
            "data-url": naturesoft_products.select2_admin_categories_path(parent_id: 'all'),
          }
        ) %>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" ><%= t(:manufacturer) %> <span class='text-danger'>*</span></label>
    <div class="col-md-10">
      <div class="input-group">
          <% m_selected = options_for_select([[manu.name,manu.id]],manu.id) if !manu.nil? %>
          <%= select_tag("params[manufacturer_id]",
            m_selected,
            {
              class: "select2-ajax",
              include_blank: "none",
              "data-url": naturesoft_products.select2_admin_manufacturers_path,
            }
          ) %>
          <span class="input-group-btn">
            <a class="btn btn-info" href="<%= naturesoft_products.new_admin_manufacturer_path %>"><i class="icon-plus2"></i></a>
          </span>
      </div>
    </div>
</div>