<li>
  <a href="#"><i class="icon-stack3"></i> <span><%= t(:product) %></span></a>
  <ul>
      <li>
        <%= link_to 'Products', naturesoft_products.backend_products_path %>
      </li>
      <li>
        <%= link_to 'Categories', naturesoft_products.backend_categories_path %>
      </li>
      <li>
        <%= link_to 'Manufacturers', naturesoft_products.backend_manufacturers_path %>
      </li>
      <li>
        <%= link_to 'Properties', naturesoft_products.backend_properties_path %>
      </li>
      <li>
        <%= link_to 'Labels', naturesoft_products.backend_labels_path %>
      </li>
  </ul>
</li>